#curriculo{
    background-color: white;
    width: 80%;
    margin: auto;
}

main{
    margin-left: 150px;
    padding-top: 20px;
}

aside{
    margin-left: 300px;
    background-color: aqua;
}

h2{
    padding-top: 20px;
}

#container{
    width: 30%;
    text-align: center;
    box-sizing: border-box;
    margin-top: 40px;
}

.quadrado-texto{
    background-color: #C5203C;
    padding: 10px;
    color: white;
}
