#form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    
}

#container{
    box-sizing: border-box;
    background-color: white;
    padding: 30px 80px 40px;
    text-align: justify;
    border-radius: 10px;
}

h2{
    text-align: center;
    padding-bottom: 10px;
}

input{ 
    margin-top: 8px;
}

#botao-enviar{
    margin-left: 200px;
    margin-top: 20px;
    padding: 5px;
}

.complemento{
    text-align: top;
}